body {
  display: flex;
  min-height: 90vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
  height: 40px;
}
