body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(230, 255, 249, 0.788);
}

.input {
  margin: 2rem;
}

.btn {
  cursor: pointer;
}

#errMsg {
  color: rgb(197, 0, 0);
  font-weight: bold;
}

.hiddenText {
  visibility: hidden;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 5px 5px 20px gray;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background: rgba(204, 204, 204, 0.712);
}

.card img {
  height: 14rem;
}
