body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
  padding-right: 50px;
  font-weight: bold;
}

div {
  display: flex;
}

.btn {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

#msg {
  font-size: 15px;
  width: 230px;
  color: rgb(179, 1, 1);
  font-weight: 500;
  visibility: hidden;
}
